.App {
  text-align: center;
  border:2px solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mybox{
  border: 2px solid black;
  width: 100%;
  height: 300px;
}
.container{
  font-size: 20px;
  width:10em;
  height: 10em;
  position: relative;
}
.sun{
  position: absolute;
  top:15em;
  left:15em;
  width: 10em;
  height: 10em;
  background-color: orangered;
  border-radius: 50%;
  box-shadow: 10px 10px 10px 10px red;
}
.earth,.moon{
  position: absolute;
  border: solid white transparent transparent transparent;
  border-width: 2px 2px 2px 2px;
  border-radius: 50%;
}
.earth{
  top:5em;
  left:5em;
  width: 30em;
  height: 30em;
  animation: orbit 36.5s linear infinite;
}
.moon{
  top:0;
  right:0;
  width: 8em;
  height: 8em;
  animation: orbit 2.7s linear infinite;
}
.earth::before,.moon::before{
  content: '';
  position: absolute;
  border-radius: 50%;
}
.earth::before{
  top: 2.8em;
  right: 2.8em;
  width: 3em;
  height: 3em;
  background-color: lightseagreen;
}
.moon::before{
  top: 0.8em;
  right: 0.2em;
  width: 1.2em;
  height: 1.2em;
  background-color: silver;
}
@keyframes orbit {
  to{
    transform: rotate(360deg);
  }
  
}